PORT=3100

VENDOTEK_HOST=https://my.vendotek.com
VENDOTEK_EMAIL=
VENDOTEK_PASSWORD=
VENDOTEK_API_KEY=
VENDOTEK_PROJECT_ORG=bank-demir
VENDOTEK_AUTO_GENERATE_API_KEY=false

BANK_ALLOWED_EMAIL_DOMAINS=demirbank.kg
SESSION_SECRET=change-me-too
